:root {
    --grey: #eeeeee;
    --purple: #9a349a;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("img/joel-filipe-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    user-select: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

.container {
    max-width: 1500px;
    width: 80vw;
    height: 80vh;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

/* sidebar */
.sideBar {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    flex: 1;
    position: relative;
}

.title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 20%;
    padding: 20px 0;
    font-family: "Faculty Glyphic", sans-serif;
}

.odin-logo {
    height: 80px;
}

.title h1 {
    font-size: 80px;
    color: white;
}

/* main container */
main {
    background-color: var(--grey);
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.main-upper {
    margin-top: 10%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.main-upper h1 {
    font-weight: 400;
}

.formContainer {
    background-color: white;
    padding: 40px;
}

.sign-up {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 20px;
}

/* each div contains img and input */
.sign-up div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sign-up input {
    flex: 1;
    background-color: var(--grey);
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    outline: 2px solid rgba(0, 0, 0, 0);
    transition: outline .5s ease;
}

.sign-up input:focus {
    outline: 2px solid var(--purple);
}

.sign-up input.valid {
    outline: 2px solid rgb(74, 152, 74);
}

.sign-up input.invalid {
    outline: 2px solid rgb(238, 88, 88);
}

.sign-up h1 {
    grid-column: span 2;
}

.email {
    grid-column: span 2;
}

.form-icon {
    height: 100%;
    display: inline;
}

.main-lower {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.main-lower button {
    background-color: none;
    font-size: 1.2rem;
    color: var(--purple);
    padding: 20px 40px;
    font-weight: bold;
    border: 2px solid var(--purple);
    border-radius: 10px;
    transition: background-color .2s;
}

.main-lower button:hover {
    cursor: pointer;
    background-color: var(--purple);
    color: white;
}

.main-lower button:active {
    transform: translateX(5px) translateY(5px);
    box-shadow: none;
}

.log-in-link {
    font-weight: bold;
    color: var(--purple);
}

.log-in-link:hover {
    cursor: pointer;
}